/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background: #F5F2E9;
  color: #ffffff;
  
  padding: 20px 0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 250px;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;

}

nav a {
  color: #000000;
  text-decoration: none;
  font-size:20px;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}
