/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Raleway", sans-serif;

}

.container {
padding: 0 30px;
  max-width: 100%;
  margin: 0 auto;
  
}


/* Header */
header {
  background: #F5F2E9;
  color: #ffffff;
  padding: 20px 0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 250px;
}

header h1 {
  margin-bottom: 10px;
}

.header__wrap nav ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;

}

.header__wrap nav a {
  color: #b29898;
  text-decoration: none;
  font-size:20px;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #3d3d3d;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}
.footer__wrap{
  
  justify-content: space-between; 
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  gap: 25%;
}

.footer__menu ul{
  display: flex;
  flex-direction: row;
  list-style: none;  
  gap: 30px;
}
footer a {
  color: inherit;         
  text-decoration: none;  
}
.footer__logo{
  width: 20%;
  display: flex;
}

.footer__menu{
 flex: 1;                
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.social{
  flex-direction: row;
  display: flex;
  gap: 10px;
}
footer .item {
  display: flex;
  gap: 10px;
  justify-content: flex-start;

    
}

.footer_down{
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
.social img{
  width: 30px;
}
.item span{
  margin-right: 10px;
}
