/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
padding: 0 30px;
  max-width: 100%;
  margin: 0 auto;
  
}

img {
  max-width: 100%;
  height: auto;
}
/* Header */
header {
  background: #8c7e73;
  color: #ffffff;
  padding: 20px 0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 250px;
}
.headerbar input{
  width: 500px;
  height: 45px;
  display: flex;
  border-radius: 20px;
  font-weight: bold;
  
}
.headerbar ::placeholder{
  padding-left: 10px;
}

header h1 {
  margin-bottom: 10px;
}

.header__wrap nav ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;

}

.header__wrap nav a {
  color: #fff2f2;
  text-decoration: none;
  font-size:20px;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #3d3d3d;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}
.footer__wrap{
  
  justify-content: space-between; 
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  gap: 25%;
}

.footer__menu ul{
  display: flex;
  flex-direction: row;
  list-style: none;  
  gap: 30px;
}

footer a {
  color: inherit;         
  text-decoration: none;  
}

.footer__logo{
  width: 20%;
  display: flex;
}

.footer__menu{
 flex: 1;                
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.social{
  flex-direction: row;
  display: flex;
  gap: 10px;
}

footer .item {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.footer_down{
  margin-top: 10px;
}

.social img{
  width: 30px;
}
footer .item span{
  margin-right: 10px;
}

/* ---------------cards--------------- */
.cards__wrap {
  display: flex;
  gap: 8%;
  flex-wrap: wrap;
  margin-top: 10%;
}


.cards__item {
  width: 28%;
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.cards__img img{
  height: 100%;
}

.cards__img {
  height: 100%;
  object-fit: cover;
  transition:  0.3s ease; 
  display: block;
}

.cards__desc{
  position: absolute;
  inset: 0;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.cards__item:hover .cards__img > img {
  opacity: 0.3;
}

.cards__item:hover .cards__desc {
  opacity: 1;
}

.cards__top {
  display: flex;
  justify-content: space-between;
}

.cards__bottom{
  display: flex;
  justify-content: space-between;

}
.cards__mid h2{
padding-bottom: 10%;
text-decoration: underline;
}

.cards__mid{
  text-align: center;
  font-weight: 500;
}

.cards__links {
  margin-top: 5%;
}
.cards__links a {
color: rgb(85, 18, 193);}

.cards__btn {
  width: auto; 
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 5px; 
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.cards__btn img {
  width: 25px;
  height: auto;
}

.like__count {
  font-size: 18px;
}

.cards__btn :hover{
  cursor: pointer;
}

/* -------- Services -------- */
.features {
  padding: 60px 0;
  text-align: center;
}

.features__top {
  margin-bottom: 40px;
}
.features__title{
  font-weight: bold;
  font-size: 50px;
  text-decoration: underline;
  color: #236f7c;
}

.features__wrap{
  display: flex;
  flex-wrap: wrap;      
  justify-content: space-between; 
  gap: 40px 0;           
}

.feature__card:hover{
  transform: scale(1.07);
  transition: all 0.5s;
  box-shadow: 0px 4px 12px 7px rgb(136, 136, 136);
}

.feature__card {
  flex-basis: 30%;       
  display: flex;
  flex-direction: column;
  border: 5px solid #ffffff;
  border-radius: 10px;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box; 
}


.feature__icon {
  width: 100px;
  height: 100px;
  border: 3px solid #236f7c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.feature__icon img {
  width: 70px;
}


.feature__card h3 {
  color: #000000;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.feature__card p {
  font-size: 20px;
  color: #1a170f;
  font-weight: bold;
  margin-bottom: 12px;
}

.feature_link {
  color: #45354e;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: none;
}


.features__top p{
  font-size: 20px;
}




